@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    --bg-color: #bf6abd;
    --button-clr: #f9ca24;
    --bg-gradient: linear-gradient(to right, #d4d3dd, #efefbb);
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.magic {
    border: none;
    background-color: var(--button-clr);
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 3px 5px 0 rgba(100, 100, 100, 0.2);

    position: fixed;
    top: 3rem;
    letter-spacing: 1px;
    cursor: pointer;
    z-index: 100;
}

.magic:active {
    transform: translateY(1px);
}

.boxes {
    width: 500px;
    height: 500px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    transition: 04s ease;
}

.boxes.big {
    width: 600px;
    height: 600px;
}

.boxes.big .box {
    transform: rotateZ(360deg);
}

.box {
    height: 125px;
    width: 125px;
    background: url("https://media3.giphy.com/media/L19HQqt7Ctd4L79Wtf/giphy.gif?cid=ecf05e4720tekbtstisnbmhj418hbmc1ztivptvg6i4vbkzr&rid=giphy.gif&ct=g");
    background-repeat: no-repeat;
    background-size: 500px 500px;
    position: relative;
    transition: 0.4s ease;

}

.box::after {
    content: "";
    position: absolute;
    top: 8px;
    right: -15px;
    background-color: var(--button-clr);
    height: 100%;
    width: 15px;
    transform: skewY(45deg);
}

.box::before {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 8px;
    background-color: var(--button-clr);
    height: 15px;
    width: 100%;
    transform: skewX(45deg);
}