@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    --bg-color: #b8c6db;
    --button-bg-clr: #302d2b;
    --bg-gradient: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 100%);
}


body {
    background-color: var(--bg-color);
    background-image: var(--bg-gradient);
    font-family: 'Poppins', sans-serif;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quiz-container {
  width: 600px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(100, 100, 100, 0.23);
}

.quiz-header {
  padding: 4rem;
}

h2 {
  padding: 1rem;
  text-align: center;
}

ul {
  list-style-type: none;
}

ul li{
  margin: 15px 0 0;
}

button {
  display: block;
  border: none;
  padding: 1rem;
  width: 100%;
  color: #f5f7fa;
  background-color: rgb(115, 55, 174);
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  opacity: .9;
}

