@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');


body {
    font-family: 'Ubuntu', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 400px;
    background-color: antiquewhite;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 4px 5px 3px rgba(0, 0, 0, 0.3);

    transform: translateX(200%);
    transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
    transform: translateX(-200%);
}

.box.show {
    transform: translateX(0);
}