@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    --bg-color: #bf6abd;
    --button-clr: #f9ca24;
    --bg-gradient: linear-gradient(to right, #d4d3dd, #efefbb);
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    border: 3px solid black;
    border-radius: 15px;
    max-width: 1000px;
    padding: 20px;
    text-align: center;
}

.code-container {
    display: flex;
    margin: 40px;
}

.code {
    height: 100px;
    width: 100px;
    font-size: 75px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    -moz-appearance: textfield;
    appearance: textfield;
}

.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.code:-moz-ui-valid {
  border-color: #3498db;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.25);
}


.info{
    background-color: #eaeaea;
    display: inline-block;
    max-width: 500px;
}

@media (max-width: 600px) {
    .container {
        max-width: 500px;
    }
    .code-container {
        flex-wrap: wrap;
    }

    .code {
        width: 80px;
        height: 80px;
        font-size: 60px;
    }
}