@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');


body {
    font-family: 'Ubuntu', serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.bg {
    background: url('https://media.timeout.com/images/105863223/image.jpg'), 
    no-repeat,
    center, center/cover;
    position: absolute;
    top: -30px; left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    filter: blur(0px);
    z-index: -1;
}

.loading-text {
    color: white;
    font-size: 40px;
}