@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {    
    --bg-color: #fff;
    --primary-color: #4c2885;
}

body {
  font-family: 'Oswald', sans-serif;
  height: 100vh;
  background-color: var(--bg-color);
  text-align: center;
  overflow: hidden;

}

h3 {
    margin: 20px 0 0 ;
}

.fa-heart {
    color: red;
}

.loveMe {
    background: url('https://d-pt.ppstatic.pl/k/r/1/f6/5d/6246e5b5e4386_p.jpg?1648813494') center center/cover;
    height: 440px;
    width: 300px;
    margin: auto;

    box-shadow: 
    0 5px 10px rgba(0, 0, 0, 0.23),
    0 20px 26px rgba(0, 0, 0, 0.12);

    cursor: pointer;
    margin-top: 10px;
    position: relative;
}

.loveMe .fa-heart {
    position: absolute;
    animation: grow 0.5s linear;
    transform: translate(-50%, -50%) scale(0);
}


@keyframes grow {
    to {
        transform: translate(-50%, -50%) scale(10);
        opacity: 0;
    }
}



