
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(90deg, rgb(129, 49, 226), rgb(116, 27, 224));

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
}

.search {
    height: 40px;
    position: relative;
}

.input {
    background-color: #fff;
    border: none;
    height: 40px;
    width: 40px;
    font-size: 18px;
    
    transition: width 0.3s ease;
}


.btn {
    background-color: #fff;
    cursor: pointer;
    border: none;
    font-size: 24px;
    height: 40px;
    width: 40px;

    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
}

.input:focus,
.btn:focus {
    outline: none;
}

.search.active .input {
    width: 200px;
    padding-left: 15px;
}

.search.search.active .btn {
    transform: translateX(198px);
}
