@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    --bg-color: #bf6abd;
    --bg-gradient: linear-gradient(to right, #d4d3dd, #efefbb);
}

body {
    font-family: 'Lato', sans-serif;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.background {
    background: url("https://images.unsplash.com/photo-1675410541565-af66672ad1f9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") no-repeat center center/cover;
    position: absolute;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;

    z-index: -1;
    filter: blur(20px);
}