@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: rgba(88, 23, 116, 0.879);
    --primary-color: rgba(121, 60, 151, 0.3);
    --font-color: #fff;
}

body {
    font-family: 'Poppins', serif;
    height: 100vh;
    width: 100vw;
    background-color: var(--main-color);

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.btn {
    font-family: inherit;
    cursor: pointer;
    border: none;
    padding: 15px 30px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--font-color);
    background-color: var(--primary-color);
    border-radius: 5px;
    margin: 10px;

    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.btn:active {
    transform: scale(0.98);
}
