@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    --bg-color: #111;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background-color: var(--bg-color);

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}

.container {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
}

.square {
    background-color: #1d1d1d;
    height: 16px;
    width: 16px;
    margin: 2px;
    transition: 0.5s ease;
}

.square:hover {
    transition: 0s;
}

